## Problem Solving In Industry

### Project: Menu Assistance

Kelly and Leo

In [2]:
#libraries to be used in the project
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
dataFruitVeg = pd.read_csv("daily_consumption_fruit_vegetables_eu.csv")
dataFruitVeg.head()

  unit n_portion sex    age country  time  value
0   PC         0   F  TOTAL      AT  2019   29.1
1   PC         0   F  TOTAL      BE  2019   17.1
2   PC         0   F  TOTAL      BG  2019   54.2
3   PC         0   F  TOTAL      CY  2019   32.7
4   PC         0   F  TOTAL      CZ  2019   49.6

In [8]:
dataFruitVeg.shape

(43488, 7)

In [9]:
dataFish = pd.read_csv("fish-and-seafood-consumption-per-capita.csv")
dataFish.head()

,Entity,Code,Year,"Fish, Seafood- Food supply quantity (kg/capita/yr) (FAO, 2020)"
0,Afghanistan,AFG,1961,0.03
1,Afghanistan,AFG,1962,0.03
2,Afghanistan,AFG,1963,0.03
3,Afghanistan,AFG,1964,0.03
4,Afghanistan,AFG,1965,0.03

In [10]:
dataFish.shape

(11028, 4)

In [11]:
dataFood = pd.read_csv("food_coded.csv")
dataFood.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [12]:
dataFood.shape

(125, 61)

In [13]:
dataMeat = pd.read_csv("meat-types.csv") 
dataMeat.head()

,STATISTIC,Statistic Label,TLIST(A1),Year,C02062V02489,Type of Meat,UNIT,VALUE
0,ABA06C01,Meat Slaughterings,2012,2012,-,Total Meat,000 Tonnes,923.0
1,ABA06C01,Meat Slaughterings,2012,2012,01,Beef and veal,000 Tonnes,495.0
2,ABA06C01,Meat Slaughterings,2012,2012,02,Pig meat,000 Tonnes,241.0
3,ABA06C01,Meat Slaughterings,2012,2012,03,Sheep meat,000 Tonnes,54.0
4,ABA06C01,Meat Slaughterings,2012,2012,04,Poultry meat,000 Tonnes,132.0

In [14]:
dataMeat.shape

(450, 8)

In [15]:
dataMeatCon = pd.read_csv("meat_consumption_worldwide.csv") 
dataMeatCon.head()

  LOCATION SUBJECT MEASURE  TIME      Value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226

In [16]:
dataMeatCon.shape

(13760, 5)

In [17]:
dataRecipes = pd.read_csv("recipes.csv") 
dataRecipes.head()

,id,ingredients/0,ingredients/1,ingredients/2,ingredients/3,ingredients/4,ingredients/5,ingredients/6,ingredients/7,ingredients/8,...,ingredients/40,ingredients/41,ingredients/42,ingredients/43,ingredients/44,ingredients/45,ingredients/46,ingredients/47,ingredients/48,ingredients/49
0,18009,baking powder,eggs,all-purpose flour,raisins,milk,white sugar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28583,sugar,egg yolks,corn starch,cream of tartar,bananas,vanilla wafers,milk,vanilla extract,toasted pecans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41580,sausage links,fennel bulb,fronds,olive oil,cuban peppers,onions,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29752,meat cuts,file powder,smoked sausage,okra,shrimp,andouille sausage,water,paprika,hot sauce,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35687,ground black pepper,salt,sausage casings,leeks,parmigiano reggiano cheese,cornmeal,water,extra-virgin olive oil,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
dataRecipes.shape

(9944, 51)